<div class="font-component">
  <form [formGroup]="beneficioForm" (ngSubmit)="addBeneficio()">
    <div class="form-group">
      <input formControlName="nome" placeholder="Nome">
      <input formControlName="imagem" placeholder="Imagem">
    </div>
    <button type="submit">Adicionar</button>
  </form>

  <hr>

  <h2 class="page-title">Lista de Beneficio</h2>

  <table class="cliente-table">
    <thead>
      <tr>
        <th class="table-header">Id</th>
        <th class="table-header">Nome</th>
        <th class="table-header">Imagem</th>
        <th class="table-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let cat of beneficios">
        <td class="table-data">{{cat.id}}</td>
        <td class="table-data">{{cat.nome}}</td>
        <td class="table-data">{{cat.imagem}}</td>
        <td class="table-actions">
          <input type="button" value="Editar" class="action-btn"/>
          <input type="button" value="Remover" class="action-btn-remove"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
